@model TelephoneDirectoryApp.Entity.UserContact
<div class="container">
    <h2>Edit Your Profile</h2>
    <form id="formEdit" asp-action="EditContact" asp-controller="Contact" method="post">
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" placeholder="@Model.FirstName" />

        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" placeholder="@Model.LastName" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" placeholder="@Model.Email" />
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="control-label"></label>
            @if (Model.Gender == "Male")
            {
                <div class="form-inline">
                    <input class="form-control" type="radio" asp-for="Gender" value="Male" checked>
                    <label class="control-label" asp-for="Gender">Male</label>
                </div>
                <div class="form-inline">
                    <input class="form-control" type="radio" asp-for="Gender" value="Female">
                    <label class="control-label" asp-for="Gender">Female</label>

                </div>
                <div class="form-inline">
                    <input class="form-control" type="radio" asp-for="Gender" value="Other">
                    <label class="control-label" asp-for="Gender">Other</label>
                </div>
            }
            else if (Model.Gender == "Female")
            {
                <div class="form-inline">
                    <input class="form-control" type="radio" asp-for="Gender" value="Male">
                    <label class="control-label" asp-for="Gender">Male</label>

                </div>
                <div class="form-inline">
                    <input class="form-control" type="radio" asp-for="Gender" value="Female" checked>
                    <label class="control-label" asp-for="Gender">Female</label>

                </div>
                <div class="form-inline">
                    <input class="form-control" type="radio" asp-for="Gender" value="Other">
                    <label class="control-label" asp-for="Gender">Other</label>

                </div>
            }
            else
            {
                <div class="form-inline">
                    <input class="form-control" type="radio" asp-for="Gender" value="Male">
                    <label class="control-label" asp-for="Gender">Male</label>

                </div>
                <div class="form-inline">
                    <input class="form-control" type="radio" asp-for="Gender" value="Female">
                    <label class="control-label" asp-for="Gender">Female</label>
                </div>
                <div class="form-inline">
                    <input class="form-control" type="radio" asp-for="Gender" value="Other">
                    <label class="control-label" asp-for="Gender">Other</label>

                </div>
            }

        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" placeholder="@Model.Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" placeholder="@Model.City" />
        </div>
        <div class="form-group">
            <label asp-for="State" class="control-label"></label>

            <select class="form-control" asp-for="State" asp-items="@ViewData["StatesData"] as List<SelectListItem>"></select>

        </div>
        <div class="form-group">
            <label asp-for="Zip" class="control-label"></label>
            <input asp-for="Zip" class="form-control" placeholder="@Model.Zip" />
        </div>
        <div class="form-group">
            <button type="reset" class="btn btn-outline-primary">Cancel</button> &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
