@model TelephoneDirectoryApp.Entity.UserProfile
<div class="container">
    <h2>Edit Your Profile</h2>
    <form id="formEdit" asp-action="EditProfile" asp-controller="Account" method="post">
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input name="Username" class="form-control" placeholder="@Model.Username" readonly value="@Model.Username"/>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input name="FirstName" class="form-control" placeholder="@Model.FirstName" />
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input name="LastName" class="form-control" placeholder="@Model.LastName" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input name="Email" class="form-control" placeholder="@Model.Email" />
        </div>
        <div class="form-group">
            <button type="reset" class="btn btn-outline-primary">Cancel</button> &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
